@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//Sofia Sans Extra Condensed
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Sofia Sans Extra Condensed/SofiaSansExtraCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Sofia Sans Extra Condensed/SofiaSansExtraCondensed-Bold.ttf") format("truetype");
}

//Evolventa
@font-face {
  font-family: "Evolventa";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Evolventa/Evolventa-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Evolventa";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Evolventa/Evolventa-Bold.ttf") format("truetype");
}

//Comforter Brush
@font-face {
  font-family: "Comforter Brush";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Comforter Brush/ComforterBrush-Regular.ttf") format("truetype");
}